<h3>İş Ekle</h3>
<div class="my-5">
    <form method="post" asp-action="Add">
        <input type="text" class="form-control" name="name" placeholder="İş">
        <br />
        <textarea class="form-control" name="detail" rows="2" placeholder="Detay"></textarea>
        <br />
        <textarea type="number" class="form-control" name="userid" rows="6" placeholder="UserId"></textarea>
        <br />
        <br />
        <input type="number" class="form-control" name="statusId" placeholder="StatusID">
        <br />
        <br />
        <button class="btn btn-primary">Ekle</button>
    </form>
</div>